
#content-container {
  /* Position & size the element */
  grid-column-start: page-left;
  grid-column-end: page-right;
  background-color: inherit;
}

.content {
  /* Position & size the element */
  grid-column-start: center-track-left;
  grid-column-end: center-track-right;
  grid-row-start: center-track-top;
  grid-row-end: center-track-bottom;

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  /* Center contents */
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-style: italic;
  font-weight: lighter;
  font-size: 20px;
}

.text-block {
  margin-bottom: 1em;
}

.text-block * {
  margin-top: ;
  margin-bottom: 0;
}

#dividing-line {
  border-top: 1px solid #eee;
  width: 100%;
}


p {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  font-size: 20px;
  font-weight: lighter;
}

a {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

h2, h5 {
  font-weight: lighter;
}


#shader-display-group {
  /* Center shaders within the display area */
  display: flex;
  justify-content: center;
}
