
.header {
  background-color: rgb(0, 140, 140);

  /* Center the contents */
  text-align: center;

  /* Position & size the element */
  grid-column-start: page-left;
  grid-column-end: page-right;
  grid-row-start: page-top;
  grid-row-end: center-track-top;

  /* Get out of the way of the NavBar */
  padding-top: calc(20px + 20px + 1vh);
}

#body-image {
  height: 85%;
  min-height:400px;
}
