
.nav-bar {
  /* Position the NavBar (though it will snap to top no matter what) */
  grid-row: page-top;
  grid-column: center-track-left;

  /* Center the NavLinks */
  text-align: center;

  /* These take the element out of the flow, but make it visible */
  height: 0;
  overflow: visible;

  /* Both position and top are required for stickiness */
  position: sticky;
  top: 0;

  /* Set initial opacity and transition speed */
  opacity: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* Hidden state of bar */
.nav-bar.hide {
  opacity: 0;
}
