
.account-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
  height: 40px;
}

.account-logo {
  /* Set initial opacity and transition speed */
  opacity: 1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
