
.footer {
  background-color: rgb(250,140,150);

  /* Position & size the element */
  grid-column-start: page-left;
  grid-column-end: page-right;
  grid-row-start: center-track-bottom;
  grid-row-end: page-bottom;
}
