.app {
  background-color: rgb(200, 0, 100);

  display: grid;
  grid-template-columns: [page-left] 20vw [center-track-left] auto [center-track-right] 20vw [page-right];
  grid-template-rows: [page-top] calc(70vh + 100px) [center-track-top] auto [center-track-bottom] 100px [page-bottom];

  min-height: 100vh;
  font-size: calc(20px + 1vh);
  color: white;
}
