.app {
  background-color: rgb(10, 50, 50);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#logo {
  height: 15vh;
}
